body{
    margin: 0px;
    padding: 0px;
}

#background-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; /* Cambia de 100vw a 100% */
    height: 100%; /* Cambia de 100vh a 100% */
    object-fit: cover; 
    z-index: -1; 
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

h1 {
    position: absolute;
    top: 40%; /* Ajusta este valor para bajar el texto */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Letras blancas */
    z-index: 1;
    font-size: 65px;
    font-family: "Roboto";
    font-weight: 400;
}

.titulo {
    position: absolute;
    top: 49%; /* Ajusta este valor para bajar el texto */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Letras blancas */
    z-index: 1;
    font-size: 70px;
    font-family: "Roboto";
}

strong{
    font-weight: bolder;
}

p {
    font-size: 35px;
    margin: 10px 0 0;
    position: absolute;
    top: 65%; /* Ajusta este valor para bajar el texto */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Letras blancas */
    z-index: 1;
}


.search-form {
    position: absolute;
    top: 20px; /* Ajusta el espacio desde la parte superior */
    right: 20px; /* Ajusta el espacio desde la parte derecha */
    display: flex;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con opacidad para la barra de búsqueda */
    padding: 5px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.search-form input[type="text"] {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none; /* Elimina el borde azul en algunos navegadores */
    background-color: transparent; /* Fondo transparente */
    color: white; /* Texto blanco */
}

.search-form button {
    padding: 8px; /* Ajusta el tamaño del botón */
    font-size: 0.9em; /* Tamaño de fuente reducido */
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: transparent;
    color:  rgba(0, 0, 0, 0.3);;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
}




#seccion2 {
    display: flex; /* Usamos flexbox para alinear la imagen a la derecha */
    justify-content: space-between; /* Espacio entre el contenido y la imagen */
    align-items: flex-start; /* Alinea los elementos al principio */
    background-color: rgb(255, 255, 238);

}

#titulo_kk {
    font-size: 50px;
    margin-top: 750px; 
    text-align: left;
    margin-left: -395px; 
    color: black;
    font-weight: bolder;
    font-family: "Roboto";
}

#texto_kk {
    font-size: 25px;
    margin-left: -350px;
    margin-top: 730px;
    text-align: left;
    color: black;

    font-weight: light;
    font-family: "Roboto";
}

#btn_container {
    display: flex;
    flex-direction: column; /* Alinea los botones uno debajo del otro */
    margin-left: 60px; /* Alinea los botones con el texto */
    margin-top: 20px; /* Espacio entre el texto y los botones */
}

#btn_kk1, #btn_kk2 {
    background-color: orange;
    color: white;
    border-style: none;
    height: 50px;
    width: 230px;
    border-radius: 50px;
    margin-top: 500px; 
    margin-left: 80px;
    font-size: 17px;
}

#auto {
    width: 500px; /* Cambia el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 50px; /* Alinea la imagen a la derecha */
}

.botones {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botones:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
