
#titulo_kk{
font-size: 60px;
margin-left: 100px;
margin-top: 200px;
}

#texto_kk{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 10px;
}

#btn_kk1{
    position: absolute;
    margin-left: 90px;
    background-color: orange;
    color: white;
    border-style: none;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin: 20px;
    left: 110px;
    margin-top: 15px;
    font-size: 17px;
}

#btn_kk2{
    position: absolute;
   left: 350px;
    background-color: orange;
    color: white;
    border-style: none;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin: 20px;
    margin-top: 15px;
    font-size: 17px;
}

#auto{
    position: absolute;
    margin-left: 800px;
    margin-top:-500px ;
}

.botones{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botones:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}